@using RentalsWebApp.ViewModels
@model EditUserProfileViewModel

@{
    ViewData["Title"] = "Edit User Profile";
}

<h1>
    <label class="small mb-1" for="inputNotificationEmail">Edit Tenant</label>
</h1>
<div class="container-xl px-4 mt-4">
    <!-- Account page navigation-->
    <nav class="nav nav-borders">
        <a class="nav-link" asp-controller="Dashboard" asp-action="EditUserProfileByAdmin" target="__self">Account Details</a>
        <a class="nav-link" asp-controller="Billing" asp-action="Index" target="__self">Billing</a>
        @if (User.Identity.IsAuthenticated && User.IsInRole("tenant"))
        {
            <a class="nav-link" asp-controller="Dashboard" asp-action="Security" target="__self">Security</a>
        }
        <a class="nav-link" asp-controller="Dashboard" asp-action="Notification" target="__self">Notifications</a>
    </nav>
    <form method="post" asp-action="EditUserProfile" enctype="multipart/form-data">
        <hr class="mt-0 mb-4">
        <div class="row">
            <div class="col-xl-4">
                <!-- Profile picture card-->
                <div class="card mb-4 mb-xl-0">
                    <div class="card-header">Profile Picture</div>
                    <div class="card-body text-center">
                        <!-- Profile picture image-->
                        @if(Model.URL == null || Model.URL == "")
                        {
                            <img class="img-account-profile rounded-circle mb-2" src="C:\Users\NokieChauke\source\repos\RentalsWebApp\RentalsWebApp\wwwroot\pictures\Propic.png" alt="">
                        }
                        else
                        {
                            <img class="img-account-profile rounded-circle mb-2" src="@Model.URL" alt="">
                        }                        
                        <!-- Profile picture help block-->
                        <div class="small font-italic text-muted mb-4">JPG or PNG no larger than 5 MB</div>
                        <!-- Profile picture upload button-->

                        <label asp-for="ProfileImageUrl" class="control-label"></label>
                        <input asp-for="ProfileImageUrl" type="file" class="form-control" placeholder="Upload Profile Pic">
                        <span asp-validation-for="ProfileImageUrl   " class="text-danger"></span></button>


                    </div>
                </div>
            </div>
            <div class="col-xl-8">
                <!-- Account details card-->
                <div class="card mb-4">
                    <div class="card-header">Account Details</div>
                    <div class="card-body">

                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" id="Id" name="Id" asp-for="Id" />
                        <div class="mb-3">
                            <label asp-for="Name" class="control-label"></label>
                            <input asp-for="Name" class="form-control" placeholder="Name">
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <!-- Form Row-->
                        <div class="row gx-3 mb-3">

                            <div class="col-md-6">
                                <label asp-for="Surname" class="control-label"></label>
                                <input asp-for="Surname" class="form-control" placeholder="Surname">
                                <span asp-validation-for="Surname" class="text-danger"></span>
                            </div>

                            <div class="col-md-6">
                                <label asp-for="Email" class="control-label"></label>
                                <input asp-for="Email" class="form-control" placeholder="email@gmail.com">
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div>
                        <!-- Form Row        -->
                        <div class="row gx-3 mb-3">
                            <!-- Form Group (organization name)-->
                            <div class="col-md-6">
                                <label asp-for="PhoneNumber" class="control-label"></label>
                                <input asp-for="PhoneNumber" class="form-control" placeholder="0111111111">
                                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                            </div>
                            <!-- Form Group (location)-->
                            <div class="col-md-6">
                                <label asp-for="IdentityNo" class="control-label"></label>
                                <input asp-for="IdentityNo" class="form-control" placeholder="1111111111111">
                                <span asp-validation-for="IdentityNo" class="text-danger"></span>
                            </div>
                        </div>
                        @if (User.Identity.IsAuthenticated && User.IsInRole("admin"))
                        {
                            <button type="submit" class="btn btn-sm btn-outline-primary">Save changes</button>
                            <a asp-controller="Dashboard" asp-action="Index" class="btn btn-sm btn-outline-primary">Cancel</a>
                        }
                        else if (User.Identity.IsAuthenticated && User.IsInRole("tenant"))
                        {
                            <button type="submit" class="btn btn-sm btn-outline-primary">Save and Continue</button>
                            <a asp-controller="Dashboard" asp-action="UserProfile" class="btn btn-sm btn-outline-primary">Cancel</a>

                        }


                    </div>
                </div>
            </div>
        </div>
    </form>
</div>