@using RentalsWebApp.ViewModels
@model SecurityViewModel

@{
    ViewData["Title"] = "Securuty";
}

<h1>Security</h1>
<div class="container-xl px-4 mt-4">
    <!-- Account page navigation-->
    <nav class="nav nav-borders">
        <a class="nav-link" asp-controller="Dashboard" asp-action="EditUserProfile" target="__self">Account Details</a>
        <a class="nav-link" asp-controller="Documents" asp-action="Index"  target="__self">Documents</a>
        <a class="nav-link" asp-controller="Billing" asp-action="Index" target="__self">Billing</a>
        <a class="nav-link" asp-controller="Dashboard" asp-action="Security" target="__self">Security</a>        
        <a class="nav-link" asp-controller="Dashboard" asp-action="Notification" target="__self">Notifications</a>
    </nav>
    <hr class="mt-0 mb-4">
    <div class="row">
        <div class="col-lg-8">
            <!-- Change password card-->
            <div class="card mb-4">
                <div class="card-header">Change Password</div>
                <div class="card-body">
                    @if (TempData["Error"] != null)
                    {
                        <div class="col-md-12 alert alert-danger">
                            <span><b>Sorry!</b> - @TempData["Error"]</span>
                        </div>
                    }
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <form method="post" asp-action="Security" enctype="multipart/form-data">
                        <input type="hidden" id="Id" name="Id" asp-for="Id" />
                        <input type="hidden" id="PhoneNumber" name="PhoneNumber" asp-for="PhoneNumber"/>
                        <!-- Form Group (current password)-->
                        <div class="mb-3">
                            <label asp-for="CurrentPassword" class="control-label"></label>
                            <input asp-for="CurrentPassword" class="form-control" placeholder="Current Password">
                            <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                        </div>
                        <!-- Form Group (new password)-->
                        <div class="mb-3">
                            <label asp-for="NewPassword" class="control-label"></label>
                            <input asp-for="NewPassword" class="form-control" placeholder="New Password">
                            <span asp-validation-for="NewPassword" class="text-danger"></span>
                        </div>
                        <!-- Form Group (confirm password)-->
                        <div class="mb-3">
                            <label asp-for="ConfirmPassword" class="control-label"></label>
                            <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirm Password">
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                        <button class="btn btn-sm btn-outline-secondary" type="submit">Save changes</button>
                        <a asp-controller="Dashboard" asp-action="UserProfile"
                           class="btn btn-sm btn-outline-secondary">Cancel</a>
                    </form>
                </div>
            </div>
        </div>
       @*  <div class="col-lg-4">
            <!-- Two factor authentication card-->
            <div class="card mb-4">
                <div class="card-header">Two-Factor Authentication</div>
                <div class="card-body">
                    <p>Add another level of security to your account by enabling two-factor authentication. We will send you a text message to verify your login attempts on unrecognized devices and browsers.</p>
                    <form>
                        <div class="form-check">
                            <input class="form-check-input" id="twoFactorOn" type="radio" name="twoFactor" checked="">
                            <label class="form-check-label" for="twoFactorOn">On</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" id="twoFactorOff" type="radio" name="twoFactor">
                            <label class="form-check-label" for="twoFactorOff">Off</label>
                        </div>
                        <div class="mt-3">
                            <label class="small mb-1" for="twoFactorSMS">SMS Number</label>
                            <input class="form-control" id="twoFactorSMS" type="tel" placeholder="Enter a phone number" value="@Model.PhoneNumber">
                        </div>
                        
                    </form>
                </div>
            </div>
        </div> *@
    </div>
</div>