@using RentalsWebApp.ViewModels
@model BillingViewModel

@{
    ViewData["Title"] = "Banking Details";
}

<nav class="nav nav-borders">
    <a class="nav-link" asp-controller="Dashboard" asp-action="EditUserProfile" target="__self">Account Details</a>
    <a class="nav-link" asp-controller="Documents" asp-action="Index" target="__self">Documents</a>
    <a class="nav-link" asp-controller="Billing" asp-action="Index" target="__self">Billing</a>
    @if (User.Identity.IsAuthenticated && User.IsInRole("tenant"))
    {
        <a class="nav-link" asp-controller="Dashboard" asp-action="Security" target="__self">Security</a>
    }
    <a class="nav-link" asp-controller="Dashboard" asp-action="Notification" target="__self">Notifications</a>
</nav>

<div class="card card-header-actions mb-4">
    <div class="card-header">
        Banking Details
    </div>
    <div class="card-body px-0">
        <!-- Payment method 1-->
        <div class="d-flex align-items-center justify-content-between px-4">
            <div class="d-flex align-items-center">
                <i class="fab fa-cc-visa fa-2x cc-color-visa"></i>
                <div class="ms-4">
                    <div class="small">Bank: FNB</div>
                    <div class="small">Account: 1254879621</div>
                    <div class="text-xs text-muted">Branch Code: 56012</div>
                </div>
            </div>
        </div>
        <hr>
        <!-- Payment method 2-->
        <div class="d-flex align-items-center justify-content-between px-4">
            <div class="d-flex align-items-center">
                <i class="fab fa-cc-mastercard fa-2x cc-color-mastercard"></i>
                <div class="ms-4">
                    <div class="small">Bank: Nedbank</div>
                    <div class="small">Account: 124587963</div>
                    <div class="text-xs text-muted">Branch Code: 01425</div>
                </div>
            </div>
        </div>
        <hr>
        <!-- Payment method 3-->
        <div class="d-flex align-items-center justify-content-between px-4">
            <div class="d-flex align-items-center">
                <div class="ms-4">
                    <div class="small">Bank: Capitec</div>
                    <div class="small">Account: 526985423</div>
                    <div class="text-xs text-muted">Branch Code: 99685</div>
                </div>
               
            </div>
        </div>
        <a class="btn btn-sm btn-outline-secondary" position="absolute" asp-controller="Billing" asp-action="Index">Return to billing page</a>
    </div>
</div>
