@using RentalsWebApp.Data.Enums
@using RentalsWebApp.ViewModels

@model EditBankingAccountViewModel

<h1>Edit Payment Card</h1>
<form method="post" asp-action="EditAccount" enctype="multipart/form-data">

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    @* <input type="hidden" id="Id" name="Id" asp-for="Id" /> *@
    <input type="hidden" id="AppUserId" name="AppUserId" asp-for="AppUserId" />
    <div class="form-group col-md-4">
        <label asp-for="CardDescreption"></label>
        <select asp-for="CardDescreption" class="form-control" asp-items="@Html.GetEnumSelectList<AccountCategory>()">
            <option selected>Select...</option>
            <option>...</option>
        </select>
        <span asp-validation-for="CardDescreption" class="text-danger"></span>
    </div>
    <div class="form-group col-md-4">
        <label asp-for="BankName"></label>
        <input asp-for="BankName" class="form-control" placeholder="Apartment, studio, or floor">
        <span asp-validation-for="BankName" class="text-danger"></span>
    </div>
    <div class="form-group col-md-4">
        <label asp-for="AccountHolder"></label>
        <input asp-for="AccountHolder" class="form-control" placeholder="Johannesburg">
        <span asp-validation-for="AccountHolder" class="text-danger"></span>
    </div>
    <div class="form-group col-md-4">
        <label asp-for="CardNumber"></label>
        <input asp-for="CardNumber" class="form-control" placeholder="One room with a shawer"></input>
        <span asp-validation-for="CardNumber" class="text-danger"></span>

    </div>
    <div class="form-group col-md-4">
        <label asp-for="BranchCode"></label>
        <input asp-for="BranchCode" class="form-control" placeholder="2500">
        <span asp-validation-for="BranchCode" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ExpiryDate"></label>
        <input asp-for="ExpiryDate" class="form-control" placeholder="">
        <span asp-validation-for="ExpiryDate" class="text-danger"></span>
    </div>
    <div class="form-group col-md-2">
        <label asp-for="CSV"></label>
        <input asp-for="CSV" class="form-control" placeholder="1123">
        <span asp-validation-for="CSV" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
</form>
