@using RentalsWebApp.Data.Enums
@using RentalsWebApp.ViewModels
   
@model CreateApartmentViewModel
<h1>Add Apartment</h1>
<form method="post" asp-action="Create" enctype="multipart/form-data">
  
    <div class="form-group col-md-4">
        <label asp-for="Address.Address_Line1">Address 1</label>
        <input asp-for="Address.Address_Line1" class="form-control" placeholder="1234 Main St">
        <span asp-validation-for="Address.Address_Line1" class="text-danger"></span>
    </div>
    <div class="form-group col-md-4">
        <label asp-for="Address.Address_Line2">Address 2</label>
        <input asp-for="Address.Address_Line2" class="form-control" placeholder="Apartment, studio, or floor">
        <span asp-validation-for="Address.Address_Line2" class="text-danger"></span>
    </div>
    <div class="form-group col-md-4">
        <label asp-for="Address.City">City</label>
        <input asp-for="Address.City" class="form-control" placeholder="Johannesburg">
        <span asp-validation-for="Address.City" class="text-danger"></span>
    </div>
    <div class="form-group col-md-4">
        <label asp-for="Address.State">State</label>
        <select asp-for="Address.State" class="form-control" asp-items="@Html.GetEnumSelectList<States>()">
            <option selected>Select...</option>
            <option>...</option>
        </select>
        <span asp-validation-for="Address.State" class="text-danger"></span>
    </div>
    <div class="form-group col-md-2">
        <label asp-for="Address.Zip">Zip</label>
        <input asp-for="Address.Zip" class="form-control" placeholder="1123">
        <span asp-validation-for="Address.Zip" class="text-danger"></span>
    </div>
    
   
    <div class="form-group col-md-4">
        <label asp-for="Description">Description</label>
        <textarea asp-for="Description" class="form-control" rows="3" placeholder="One room with a shawer"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>

    </div>
    <div class="form-group col-md-4">
        <label asp-for="ApartmentCategory">Apartment Category</label>
        <select asp-for="ApartmentCategory" class="form-control" asp-items="@Html.GetEnumSelectList<ApartmentCategory>()">
            <option selected>Select...</option>  
        </select>
        <span asp-validation-for="ApartmentCategory" class="text-danger"></span>
    </div>
    <div class="form-group col-md-4">
        <label asp-for="Price">Price</label>
        <input asp-for="Price" class="form-control" placeholder="2500">
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Pictures">Upload a Picture</label>
        <input asp-for="Pictures" type="file" multiple class="form-control" placeholder="">
        <span asp-validation-for="Pictures" class="text-danger"></span>
    </div>
   
    <button type="submit" class="btn btn-primary">Save</button>
</form>