@using RentalsWebApp.ViewModels
@model RegisterViewModel

@{
    ViewData["Title"] = "Register";
}

<div class="row">
    <div class="col-md-12 offset-3">

        <h1>Add new tenent</h1>        

        @if (TempData["Error"] != null)
        {
            <div class="col-md-12 alert alert-danger">
                <span><b>Sorry!</b> - @TempData["Error"]</span>
            </div>
        }
        <div class="row">
            <hr class="mt-0 mb-8">
            <div class="col-xl-8">
                <div class="card mb-8">
                    <div class="card-header">Add a Tenant</div>
                    <div class="card-body">
                        <form asp-action="Register">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" id="ApartmentsId" name ="ApartmentsId" asp-for="ApartmentsId" />
                            <div class="form-group">
                                <label asp-for="EmailAddress" class="control-label"></label>
                                <input asp-for="EmailAddress" class="form-control">
                                <span asp-validation-for="EmailAddress" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Password" class="control-label"></label>
                                <input asp-for="Password" class="form-control">
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="ConfirmPassword" class="control-label"></label>
                                <input asp-for="ConfirmPassword" class="form-control">
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Name" class="control-label"></label>
                                <input asp-for="Name" class="form-control">
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="Surname" class="control-label"></label>
                                <input asp-for="Surname" class="form-control">
                                <span asp-validation-for="Surname" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="IdentityNo" class="control-label"></label>
                                <input asp-for="IdentityNo" class="form-control">
                                <span asp-validation-for="IdentityNo" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="PhoneNumber" class="control-label"></label>
                                <input asp-for="PhoneNumber" class="form-control">
                                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                            </div>

                        <div class="form-group">
                            <div class="col-xs-6 col-xs-offset-3">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="agree" value="agree" /> Agree with the <a class="nav-link active ms-0" asp-controller="Account" asp-action="TermsAndConditions" target="__blank">Terms and Conditions</a>
                                    </label>
                                </div>
                            </div>
                        </div>

                            <div class="form-group">
                                <input class="btn btn-outline-success float right" type="submit" value="Sign Up" />
                                <a class="btn btn-outline-secondary" asp-controller="Dashboard" asp-action="Index">Cancel</a>
                            </div>
                        </form>
                    </div>
                       
                </div>
            </div>
        </div>
    </div>
</div> 