<div class="form-group">
    <h1>Ha mi amukela ekay ranwina ro rhula</h1>
    <label class="col-xs-3 control-label">Milawu na swipimelo</label>
        <div class="col-md-8 offset-2">
        <div style="border: 1px solid #e5e5e5; height: 200px; overflow: auto; padding: 10px;">
            <p>Kuva mi register eka website yahina swikomba ku tsakela eka rinwana ra makaya lamanga kona kuva mi nga tshama eka rono. Tiyisisani leswaku mi hlaya milawu hinkwayu ku kondza miya fika makumu. System yahina a yi nge mipfumeleli kuva mi registera kukondza mi pfumela hiku hlawula checkbox leswaku hi hlayile and mi swi twisisile.</p>
            <p>Tivani leswaku i vutihlamuleri bya nwina ku hlaya na ku twisisa milawu mi nga se registera eka website yahina. Nawu lowu minga tawutshova ekaleyinga tsaliwa la mi ta teka vutihlamuleri.</p>
            <p>Nawu wo sungula: Rent yi fanela kuva yi hakeriwini hi siku ra vunharhi ra nhweti yi nwana na yinwana. Mali leyinga tata endzaku ka siku ravunharu ra nhweti yita na fiyini ya R300.</p>
            <p>Munhu loyi anga hakeliku rent ku ringana nheti na hafu, nwinyi wa yindlu u na fanelo yaku nwu hlongola hi ku nwu nyika xitivisi hi xivumbeko xa palila kumbe email mavhiki mambirhi kungase fika siku ro hetelela.</p>
            <p>Nawu wa vumbirhi, munhu wu nwani na wunwani u fanela ku humesa deposit leyi ringanaku na rent angase ngena ekaya ra yena. Deposit leyi yi vuyisiwa ntsena loko munhu anga onhangi ncumu eka nkari lowu a nga tshama wona.</p>
            <p>Loko munhu a lava ku huma u nyika xitiviso ku sele nheti leswaku a huma. Loyi a humaka a nga nyikanga xitiviso kumbe kunga inspectiwangi angayi kumi deposit leyi a yi humeseke loko a nghena.</p>
            <p>Swifuwo swo fana na timbyana kumbe swimanga aswi pfumeleriwi. Huwa a yi pfumeleriwi. Gede yi tshama yi kiyiwile nkarhi hi nkwawu. Loko makhamba ma tshova, ma nghena ma yiva, a hi vutihlamuleri bya nwinyi wa yindlu. Munhu u ti rihela leswi a yiveriweke yena nwinyi.</p>
        </div>
    </div>
</div> 
